name: Continuous Integration for Repairnator

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  repairnator-core:
    name: repairnator-core
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'

    - name: Run Test Script
      run: |
        mvn test

